
{% extends 'base.html' %}
{% block content %}
<h2>You can learn C# Programming</h2>
<p><b> - No experience necessary to begin learning to write C# programming. -</b></p>
<p>Rapid C# Programming will take you from absolute beginner to being able to write C# code in a very short time</p>
<h2>Basics</h2>
<p>This tutorial will teach you the basics of C# in 10 minutes. Consider this a cheat sheet to get up to speed quickly with C#</p>
    <p>Obviously, if you really want to learn a language you need to program in that language for a while. My <b><a href="https://amzn.to/2wjpxOF">book</a></b> will
        help you with that.</p>
    <hr>
    <p></p>
    <p>The download links is at <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a>.</p>
    <p>Navigate to the directory you installed VS Code and click the icon to open it up. The IDE should look as follows.</p>
     <img style="width:70%;height:70%;" src="/static/idemain.png">
    <p></p>
    <p>The Version of VS code I'm using at the time of the writing is Version 1.28.2 (2018). I won'tgo too deep into how to use the IDE but here are the basics. You have 5 basic sections in the center of the IDE called Start, Recent, Help, Customize, Learn. This is all within the "Welcome" screen. And if you accidentally close it don't worry you can always get to it by clicking on "File and New Window."</p>
    <p></p>
    <p>A lot of this is information strait forward. You can start a new file and or open a folder or workspace, and In time more things will show up in the "Recent" section. The important thing to note are the 5 icons on the left side of the screen. The first appears to look like a folder called the "explorer". The next icon is the "search", the third is a "source control", then "Debug" and finally "Extensions". I highly recommend you install the following Extensions,  C#, "Fix format", Code Runner, "Scriptcs Runner", and most important "Code".  These extensions are intuitively easy to install.</p>
    <p></p>
    <p>Tools for Command-line "dotnet”:</p>
    <p></p>
    <p><a href="https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install">https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
</a></p>
    <p></p>
    <p>The Command-line interface (CLI) for 'code' are located at:</p>
    <p></p>
    <p><a href="https://code.visualstudio.com/docs/editor/command-line">https://code.visualstudio.com/docs/editor/command-line</a></p>
    <p></p>
    <ul>
    <li>Launch VS Code</li>
    <li>Open the Command Pallete (Shift - Command - P)</li>
	<li>Type shell command</li>
    </ul>
    <p></p>
    <p><img style="width: 70%;height: 70%" src="/static/shellCommandcode.png"></p>
    <p></p>
    <p>Launching 'code' from the command line makes everything incredibly easy. You can go to any one of your projects and type 'code .' Don't forget the '.' Dot notation. This will pull up the IDE for your project. </p>
    <p></p>
    <p><img style="width: 30%;height: 30%" src="/static/extension.png"></p>
    <p></p>
    <p>Also at the bottom of the screen you have error and warning icons which give you the total count. If you click, it will pull up another small window with 4 tabs labeled "Problems", "Output", "Debug Console" and "Terminal". The first thing that some experienced programmers might think is to create a C# program and open a New file immediately. Let's NOT do that yet.</p>
    <p></p>
    <p>Continue with chapter one or buy my book at <b><a href="https://amzn.to/2wjpxOF">amazon.com</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>




{% endblock %}
