
{% extends 'base.html' %}
{% block content %}
<h2>You can learn C# Programming</h2>
<p><b> - No experience necessary to begin learning to write C# programming. -</b></p>
<p>Rapid C# Programming will take you from absolute beginner to being able to write C# code in a very short time</p>
<h2>Basics</h2>
<p>This tutorial will teach you the basics of C# in 10 minutes. Consider this a cheat sheet to get up to speed quickly with C#</p>
<p>Obviously, if you really want to learn a language you need to program in that language for a while. My book will help you with that.</p>
{% endblock %}
